@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html, body{
    height: 100%;
}
body{

    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

header{
    background: #444444;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8em 1.5em;
   color: #789339;
}

header img{
    width: 2em;
}

.header_nav ul{
    list-style-type: none;
    padding: 0;
    display: flex;
}

.header_nav ul li a{
    text-decoration: none;
    color: whitesmoke;
    margin-right: 1em;
}

.logo{
    font-size: larger;
    display: flex;
    align-items: center;
}

.logo span{
    margin-left: 0.5em;
    font-weight: bolder;
}

.contain{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card{
    width: 45em;
    height: 4em;
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
    margin: 1em 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
}

.card button{
    font-weight: bolder;
    font-size: large;
    padding: 1em;
    cursor: pointer;

    border-radius: 134px;
    background: #e0e0e0;
    box-shadow:  20px 20px 60px #bebebe,
    -20px -20px 60px #ffffff;

}

footer{
    background: #444444;
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
}

